.promo {
  background-color: #d5d0ce;
  &__list {
    display: grid;
    gap: 0;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    color: var(--White);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 40px;
    padding-left: 33px;
    position: relative;
    border-top: 1px solid;

    border-color: rgba(#ffffff, 0.4);

    &:not(:last-of-type) {
      border-right: 1px solid;
      border-color: rgba(#ffffff, 0.4);
    }

    &::before {
      content: "";
      display: block;
      width: 56px;
      height: 56px;
      margin-right: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right top;
    }
  }
  &__item--car::before {
    background-image: url(../img/icons/car.svg);
  }
  &__item--folder::before {
    background-image: url(../img/icons/folder.svg);
  }
  &__item--time::before {
    background-image: url(../img/icons/time.svg);
  }
}
